{% extends 'suru/base.html' %}
{% load static %}
{% block aboutactive %} active {% endblock aboutactive %}
{% block content %}

<head>

<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{% static 'css/about.css'%}">

</head>

<header class="masthead">
    <p class="masthead-intro text-center">Bishnu</p>
    <h1 class="masthead-heading text-center">Homestay</h1>


  </header>
  <section class="introduction content-width light-font">
    <h1>Introduction</h1>
    <p>
   Hello I am Bishnu your host in Pokhara Nepal.
    </p>
    <p>
      My family and I welcome you with warm hospitality to our family home! My wife Laxmi, two sons, niece and I want to share with you an authentic experience during your trip to Nepal.
    </p>
    <p>

      Our well equipped and conveniently located family home is situated past the western end of Lakeside, Pokhara. The homestay is nestled in a local village at the foot of Sarangkot mountain, surrounded by picturesque paddy fields, a small river and  Fewa lake.
    </p>
    <p>
Our family home is a beautiful modern house equipped with all the necessary amenities you need and stunning lake views. Please take the time to learn about our wonderful homestay...
    </p>
    <p>
     Education is something I am very passionate about. I know there is a major paradigm shift happening in education in the US. I am happy about that, and I will be a part of it!
    </p>
  </section>
  <section class="location content-width light-font">
    <h1>Our services </h1>
    <p>
    You can feel like part of our family and share things with us we help each other. Without you leaving our home we can arrange for you Trekking, Rafting, Paragliding, Zip Flying, Tickets, Pony Riding, Hiking and much more all with experienced local people!
      From our home you can trek up Sarangkot Mountain (3hours) and view the famous Annapurna Himalayan Range. We also have free parking and we speak fluent Nepali, English and Hindi and basic french, Thai and Spanish! We welcome any nice people into our home and you can expect classic Nepali hospitality.
    </p>
    <p>
    All rooms have attached bathroom with hot and cold shower. We offer Free wifi and free breakfast. We can provide Motorbike or bicycle at your request. You can see different domestic animals around my house and view the paragliding activity launching off the top of Sarangkot Mountain.
      We have a shared kitchen where you can make your own food. Our building is modern, only two years old and has all the necessities you desire. It really is a home away from home.
    </p>
  </section>

{% endblock %}
