{% extends 'suru/base.html' %}
{% load static %}
{% block aboutactive %} active {% endblock aboutactive %}
{% block content %}






<section id="aboutus">
    <div class="container">
        <div class="circle">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center">
                    Bishnu Homestay
                </h2>
                <p>
                  Our home is a ten minute walk from famous Pokhara, Lake side, lying at the base
                    of Sarangkot mountain (1600m) in a small local village, it is very peaceful here.
                    Located on the side of a small river and three hundred meters from Fewa lake. There are
                    Lake views from the rooms and we have an open space on the roof where
                    you can sit and watch the sun set over the Lake and paddy fields.. it is truly a special place.
                </p>
                <p>
                  All rooms have attached bathroom with hot and cold shower. We offer Free wifi and free breakfast.
                    We can provide Motorbike or bicycle at your request. You can see different domestic animals around
                    my house and view the paragliding activity launching off the top of Sarangkot Mountain. We have a
                    shared kitchen where you can make your own food. Our building is modern, only two years old and has
                    all the necessities you desire. It really is a home away from home.
                </p>
                <p>
                  You can feel like part of our family and share things with us we help each other. Without you leaving
                    our home we can arrange for you Trekking, Rafting, Paragliding, Zip Flying, Tickets, Pony Riding, Hiking
                    and much more all with experienced local people! From our home you can trek up Sarangkot Mountain (3hours)
                    and view the famous Annapurna Himalayan Range. We also have free parking and we speak fluent Nepali,
                    English and Hindi and basic french, Thai and Spanish! We welcome any nice people into our home and
                    you can expect classic Nepali hospitality.
                </p>
            </div>
        </div>
      </div>
    </div>
</section>

{% endblock %}